

#letragrande {
    font-size:120px;
    margin: 50px 10px 30px 10px; 
    color:red;
    width: 100%;
    text-align: center;
    font-family: 'Sanchez', serif;
    }
#letragrande:hover {
    color: black;
    
    
    }
#exporta{
    font-family: 'Sanchez', serif;
    margin: 20px 10px 10px 10px;
    color:red;
    width: 100%;
    text-align: center;
}
#barrabusqueda{
margin-top: 10px; 
text-align: center;

}

#bimages{
    margin-top:10px;
    border: 2px black;
    
    }
.left{
    float:left;
    }
.right{
    float:right;
    }
    
#letracarrusel {
    font-size:30px;
    margin: 30px 20px 20px -8px; 
    color:red;
    text-align: center;
    font-family: 'Sanchez', serif;
    }    
#letracarrusel:hover {
    color: black;
    }  

#centrado {
    font-size:30px;
    margin: 180px 10px 30px 10px; 
    color:red;
    width: 100%;
    text-align: center;
    font-family: 'Sanchez', serif;
    }
#centrado:hover {
    color: black;
    }  
    
#espacio{
    margin-bottom: 5px; 
    }  
    
    
#menuvertical{
    margin-top: 40px;
    }    
 
#menu{
    float: left;
    width: 152px;
    margin-bottom: 50px;
    margin-left: 30px;
    list-style: none;
    }    

#descripcion{
    margin-top: 30px;
    }
    
#cabecera {
    font-size:120px;
    margin: 5px 10px 30px 10px; 
    color:red;
    width: 100%;
    text-align: center;
    font-family: 'Sanchez', serif;
    }    
    
#letraizquierda {
    font-size:20px;
    margin: 20px 40px 20px 235px; 
    color: gray;
    width: 100%;
    text-align: left;
    font-family: 'Sanchez', serif;
    }

#letragrande2 {
    font-size:120px;
    margin: 50px 10px 30px 10px; 
    color:red;
    width: 100%;
    text-align: center;
    font-family: 'Sanchez', serif;
    }
#letragrande2:hover {
    color: black;
    }

#hrcentrado {
    margin: 50px 500px 10px 500px;
    border: 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid white;

    }

#margentabla{
    margin-bottom: 15px;
    margin-top: 30px;
    }
    
#buttonvolver {
    margin-top: 30px;
    }  
#letradeuso{
    font-size:20px; 
    color: red;
    font-family: 'Playfair Display SC', serif;
    }   
    
#buttonproducto {
    margin-top: 5px;
    }    
    
#cambiodecolor:hover {
    color: black;
    }

#alinearderecha {
    margin-left: 20px;
    }